.cacko-yii2-widgets-monaco-editor-widget-editor {
    overflow: hidden;
    position: relative;

    .theme-selector {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        font-size: 2rem;
        opacity: 0.5;
        z-index: 10;
        cursor: pointer;
        color: #000;

        &.on-dark {
            color: #fff;
        }
    }

    .editor-dom {
        width: 100%;
        height: 100%;
    }
}

.cacko-yii2-widgets-monaco-editor-widget-diff-editor {
    padding-bottom: 2rem;
    position: relative;

    .layout-selector {
        position: absolute;
        bottom: 1rem;
        right: 2.5rem;
        font-size: 1.5rem;
        opacity: 0.5;
        z-index: 10;
        cursor: pointer;
        color: #000;

        &.on-dark {
            color: #fff;
        }
    }
}